“`css
body {
    background-image: url(“https://github.com/Neal193/Neal193.github.io/blob/main/3014-2023-10-16022012-1697437212220.jpg”);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
“`
